@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}

::-webkit-scrollbar {
  max-width: 0.5rem;
  max-height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bcb8b8;
}
