@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

::-webkit-scrollbar {
  max-width: 0.5rem;
  max-height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bcb8b8;
}
